$navbar-default-bg:  #012537;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  :hover {
    color: #fff;
    text-decoration: none;
  }
}

.col-xs-8 {
  float: none;
}

.homepage-row {
  margin: 0 1rem;
}

.negative-top-margin {
  margin: -1px;
}

.align-center {
  text-align: center;
}

.yield-container {
  // border: 1px solid red;
  // padding-top: 1rem;
  // background-image: asset-url('emma-francis-135713-unsplash.jpg');
  // background-size: cover;
}

.message {
    position: fixed;
    top: 5em;
    right: 25%;
    left: 25%;
    margin: 0 auto;
    z-index: 100;
    width: 50%;
    // border: 2px solid green;
}

.jumbotron {
  height: 70vh;
  background-image: asset-url('emma-francis-135713-unsplash.jpg');
  // background: transparent;
  background-size: cover;
  // background-position: center;
  // border: 1px solid orange;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.center-items {
  text-align: center;
}

h1.align-center {
  margin-top: 2em;
}

.listing {
  padding: 0;
  list-style: none;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input-checkbox input {
  width: auto !important;
}

.login-info {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333333;
    // white-space: nowrap;
}

.btn-xlarge {
  font-size: 1.7em;
  // background-color: black;
}

.navbar {
    position: relative;
    min-height: 7vh;
    // line-height: 7vh;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-title,
.user-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-container {
  padding: 1rem 2rem;
}

.footer {
  margin-top: 20vh;
  height: 10vh;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #2e6da4;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;

  li {
    float: left;
    margin-left: 15px;
  }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
}


@media (min-width: 768px) {

  .navbar {
      border-radius: 0;
  }
}