$navbar-default-bg:  #012537;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  :hover {
    color: #fff;
    text-decoration: none;
  }
}

.homepage-row {
  margin: 0 1rem;
}

.center-items {
  text-align: center;
}

.jumbotron {
  height: 70vh;
  background-image: asset-url('emma-francis-135713-unsplash.jpg');
  background-size: cover;
  // background-position: center;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-xlarge {
  font-size: 1.7em;
  // background-color: black;
}

.navbar {
    position: relative;
    min-height: 7vh;
    // line-height: 7vh;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.footer-container {
  padding: 1rem 2rem;
}

.footer {
  margin-top: 20vh;
  height: 10vh;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #2e6da4;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;

  li {
    float: left;
    margin-left: 15px;
  }
}


@media (min-width: 768px) {

  .navbar {
      border-radius: 0;
  }
}